@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');


body{
    scroll-behavior: smooth;
    background: rgba(0, 0, 0, 0.849);
}

#intro{
    height: 920px;
    background-color: rgb(14, 13, 13);
    background-image: url(images/rvd1.jpg);
}

.logo{
    font-family: 'Otomanopee One', sans-serif;
    text-decoration: underline rgba(255, 0, 0, 0.877);
    color: rgba(255, 0, 0, 0.877);
    margin-left: 45%;
    font-size: 41px;
}

.logo span{
color: rgba(0, 0, 255, 0.877);
text-decoration: underline rgba(0, 0, 255, 0.877);
}

#info p{
    position: absolute;
    top: 39%;
    left: 2%;
    font-size: 20px;    
    color: white;
}

#header{
    font-family: 'Otomanopee One', sans-serif;
    text-decoration-line: underline;
    position: absolute;
    top: 33%;
    left: 7%;
    font-size: 34px;
    color: white;
}

#archie{
    height: 930px;
    background-image: url(images/archie.jpg);
}

#archie h2{
    font-family: 'Otomanopee One', sans-serif;
    font-size: 45px;
    color: orangered;
    position: absolute;
    left: 37%;
    top: 97%;
    animation: type 5s;
    text-decoration: underline orangered;
    overflow: hidden;
    white-space: nowrap;
}

@keyframes type {
    0% {
        width: 0ch;
    }
    100%{
        width: 17ch;
    }
}